<div class="container">

  <mat-card class="login-card">

    <h2>Login</h2>

    <!-- EMAIL -->

    <mat-form-field
      appearance="outline"
      class="full-width">

      <mat-label>Email</mat-label>

      <input
        matInput
        type="email"
        required
        [(ngModel)]="loginData.email">

    </mat-form-field>

    <!-- PASSWORD -->

    <mat-form-field
      appearance="outline"
      class="full-width">

      <mat-label>Password</mat-label>

      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        required
        [(ngModel)]="loginData.password">

      <!-- EYE BUTTON -->

      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hidePassword = !hidePassword">

        <mat-icon>

          {{hidePassword ? 'visibility_off' : 'visibility'}}

        </mat-icon>

      </button>

    </mat-form-field>

    <!-- LOGIN BTN -->

    <button
      mat-raised-button
      color="primary"
      class="full-width"
      (click)="login()">

      Login

    </button>

    <!-- REGISTER -->

    <p class="link">

      Don't have an account?

      <a routerLink="/register">

        Register

      </a>

    </p>

  </mat-card>

</div>