.expense-page{

  padding:20px;

  max-width:1100px;

  margin:auto;

}

.expense-card{

  padding:20px;

  margin-bottom:20px;

  border-radius:16px;

}

.header{

  display:flex;

  justify-content:space-between;

  align-items:center;

  margin-bottom:20px;

}

.form-grid{

  display:grid;

  grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));

  gap:15px;

}

.description-field{

  grid-column:span 2;

}

.btn-group{

  margin-top:20px;

  display:flex;

  gap:10px;

}

.list-card{

  padding:20px;

  border-radius:16px;

}

table{

  width:100%;

}

th{

  font-weight:600;

}

mat-form-field{

  width:100%;

}

@media(max-width:768px){

  .description-field{

    grid-column:span 1;

  }

}

.empty-box{

  text-align:center;

  padding:60px 20px;

  background:white;

  border-radius:16px;

  margin-top:20px;

}

.empty-box mat-icon{

  font-size:70px;

  width:70px;

  height:70px;

  opacity:0.6;

}

.empty-box h3{

  margin-top:15px;

  margin-bottom:5px;

}