<app-navbar></app-navbar>

<div class="expense-page">
  <!-- FORM -->

  <mat-card class="expense-card">
    <h2>
      {{ editingId ? 'Update Expense' : 'Add Expense' }}
    </h2>

    <div class="form-grid">
      <!-- CATEGORY -->

      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>

        <input matInput [(ngModel)]="expenseData.category" />
      </mat-form-field>

      <!-- AMOUNT -->

      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>

        <input matInput type="number" min="1" [(ngModel)]="expenseData.amount" />
      </mat-form-field>

      <!-- DATE PICKER -->

      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>

        <input matInput [matDatepicker]="picker" [(ngModel)]="expenseData.date" />

        <mat-datepicker-toggle matIconSuffix [for]="picker"> </mat-datepicker-toggle>

        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- DESCRIPTION -->

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>

        <input matInput [(ngModel)]="expenseData.description" />
      </mat-form-field>
    </div>

    <!-- BUTTONS -->

    <div class="btn-group">
      <button mat-raised-button color="primary" *ngIf="!editingId" (click)="addExpense()">
        Add Expense
      </button>

      <button mat-raised-button color="accent" *ngIf="editingId" (click)="updateExpense()">
        Update Expense
      </button>
    </div>
  </mat-card>

  <!-- FILTER -->

  <mat-card class="filter-card">
    <mat-form-field appearance="outline">
      <mat-label>Filter Category</mat-label>

      <input matInput [(ngModel)]="filterCategory" (input)="applyFilter()" />
    </mat-form-field>
  </mat-card>

  <!-- TABLE -->

  <!-- EMPTY STATE -->

  <div class="empty-box" *ngIf="filteredExpenses.length === 0">
    <mat-icon> receipt_long </mat-icon>

    <h3>No Expenses Yet</h3>

    <p>Add your first expense to start tracking spending.</p>
  </div>

  <!-- TABLE -->

  <mat-card class="list-card" *ngIf="filteredExpenses.length > 0">
    <table mat-table [dataSource]="filteredExpenses">
      <!-- CATEGORY -->

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>

        <td mat-cell *matCellDef="let e">
          {{ e.category }}
        </td>
      </ng-container>

      <!-- AMOUNT -->

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>

        <td mat-cell *matCellDef="let e">₹ {{ e.amount }}</td>
      </ng-container>

      <!-- DATE -->

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>

        <td mat-cell *matCellDef="let e">
          {{ e.date | date }}
        </td>
      </ng-container>

      <!-- DESCRIPTION -->

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>

        <td mat-cell *matCellDef="let e">
          {{ e.description || '-' }}
        </td>
      </ng-container>

      <!-- ACTIONS -->

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>

        <td mat-cell *matCellDef="let e">
          <button mat-icon-button color="primary" (click)="editExpense(e)">
            <mat-icon> edit </mat-icon>
          </button>

          <button mat-icon-button color="warn" (click)="deleteExpense(e.id)">
            <mat-icon> delete </mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card>
</div>
